<h1>Edit Database</h1>
 
<%= render 'form'%>
 

<%= link_to 'Delete', database_path(@database),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

<%= link_to 'Back to the list of all databases', databases_path, class: 'btn btn-secondary'%>