<h1>Machine</h1>

<p><strong> Machine Name :</strong>
	<%= @machine.name %> 
</p>


<p><strong> Hostname :</strong>
	<%= @machine.hostname %> 
</p>

<p><strong> Machine User :</strong>
	<%= @machine.user %> 
</p>

<p><strong> Machine Description :</strong>
	<%= @machine.description %> 
</p>



<p>
<strong>Has tables :</strong>
</p>

